.comments_leng {
    position: relative;

}
.comments_leng span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
    left: 0;
    top: 0px;
    font-size: 10px;
    position: absolute;
    margin-top: 4px;
}
.bookProfileGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}