.comments_leng {
    position: relative;

}
.comments_leng span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
    left: 0;
    top: 0px;
    font-size: 10px;
    position: absolute;
    margin-top: 4px;
}
.bookProfileGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.bookProfileGrid div:first-child {
    order: 1;
}
.bookProfileGrid div:last-child {
    order: 2;
}

.under__mennu {

}

.under__menu__active {
    border-bottom: 1px solid rgb(206, 212, 218);
}
.under__menu__active p {
    margin-bottom: 0;
    cursor: pointer;
}
.under__menu__active p span {
    pointer-events: none;
}
.under__menu__active p:hover {
    color: #383e45;
}
.under__menu__active #selected {
    border-bottom: 2px solid #ffc107;
}

.under__actions {
    display: inline-flex;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}


@media screen and (min-width: 0px) and (max-width: 767px) {
    .bookProfileGrid {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .bookProfileGrid {
        grid-template-columns: 1fr;
    }
}