.App {
    width: 100%;
}
header {
    top: 0;
    left:  0;
    width: 100%;
    background: #fff;
    height: 80px;
    position: fixed;
    border-bottom: 1px solid #000;
}
.splitMenuBtn { 
    border: none;
    background: transparent;
    outline: none !important;
}
.splitMenuBtn:hover i {
    color: rgb(0, 152, 179);
}

.splitMenuBtn i { 
    font-size: 24px;
}