.App {
    width: 100%;
}
header {
    top: 0;
    left:  0;
    width: 100%;
    background: #fff;
    height: 80px;
    position: fixed;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 1px 4px 10px -3px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 4px 10px -3px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 4px 10px -3px rgba(0,0,0,0.49);
    z-index: 999;
}
.splitMenuBtn { 
    border: none;
    background: transparent;
    outline: none !important;
}
.splitMenuBtn:hover i {
    color: rgb(0, 152, 179);
}

.splitMenuBtn i { 
    font-size: 24px;
}
.fillSizeBtn {
    border: none;
    background: transparent;
    outline: none !important;
}
.fillSizeBtn:active {
    transition: 0.15ms;
    -webkit-transition: 0.15ms;
    -moz-transition: 0.15ms;
    -ms-transition: 0.15ms;
    -o-transition: 0.15ms;
}
.fillSizeBtn:hover i {
    color: rgb(0, 152, 179);
}
.fillSizeBtn i {
    font-size: 24px;
}
.popup-item {
    position: relative;
}
.popup-div {
    display: none;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    background: #fff;
    z-index: 99;
    max-height: 350px;
    position: absolute;
    width: 300px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    top: 50px;
    left: 0;
    overflow-x: hidden;
}
.popup-div img {
    width: 50px;
    height: 60px;
}
.delta {
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.delta:after {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #f0f0f0;
}
.delta:before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.cartL {
    top: -5px !important;
    font-size: 10px;
}
.cartL:active {
    top: -5px !important;
}
.cartL:focus {
    top: -5px !important;
}
.rever {
    
}
.rever:hover {
    color: #0d6efd;
}