.dashboard_block {
    display: grid;
    grid-template-columns: 90px 100px;
}
.dashboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    background: #fff;
    height: calc(100% - 50px);
    border-right: 1px solid rgba(0,0,0,.125);
    box-shadow: 6px 0px 10px -3px rgba(0,0,0,0.49);
    -webkit-box-shadow: 6px 0px 10px -3px rgba(0,0,0,0.49);
    -moz-box-shadow: 6px 0px 10px -3px rgba(0,0,0,0.49);
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu__left {
    min-width: 50px;
    max-width: 50px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: space-between;
    grid-template-columns: 1fr;
}
.menu__right {
    width: 230px;
    display: grid;
    height: calc(100% - 90px);
    align-items: start;
}
.menu__right p {
    width: 190px !important;
    justify-content: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #4b4b4b !important;
    display: flex;
    border-bottom: none !important;
    align-items: center;
}
.menu_right p:last-child {
    border-bottom: none;
}
.menu__right p i {
    margin-right: 10px;
}
.active { 
    color: #0d6efd !important;
}
.dashboard a{
    width: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: width 0.15s;
    -webkit-transition:width 0.15s;
    -moz-transition:width 0.15s;
    -ms-transition:width 0.15s;
    -o-transition:width 0.15s;
    display: grid;
}
.dashboard .menu__left a {
    border-bottom: 1px solid #ced4da;
}
.dashboard .menu__left a:last-child {
    border-bottom: none;
}
.dashboard .menu__left a:hover {
    color:#0d6efd;
    transition: width 0.15s;
    -webkit-transition: width  0.15s;
    -moz-transition:width 0.15s;
    -ms-transition:width 0.15s;
    -o-transition:width 0.15s;
}
.dashboard_line {
    display: block;
    width: 1px;
    background: #ced4da;
    height: 100%;
}
.linking {
    position: relative;
}
.cartLength {
    position: absolute;
    right: 0px;
    top: 10px;
}
.bookLength {
    position: absolute;
    right: -5px;
    top: 10px;
}
.menu-btn {
    outline: none;
    border: none;
    background: transparent;
    font-size: 22px;
    position: absolute;
    left: 10px;
}
.menu-btn:active, .menu-btn:focus {
    outline: none;
}