.comment_profile {
    
}
.comment_profile i {
    font-size: 40px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    line-height: 0;
}
.comment_profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}